* {

    margin: 0px;
    padding: 0px;
}

body {

    background: #4444;
    color: #fff;
}

#contenedor {

    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

header{

    height: 150px;
    background: lightblue;
}

nav {

    background: gray;
    height: 60px;

}

#contenido {
    width: 700px;
    height: 500px;
    float: left;
    background: lightcoral;
    margin-top: 10px;
    margin-right: 10px;
}

aside {

    width: 250px;
    height: 500px;
    background: lightgrey;
    margin-top: 10px;
    float: right;

}

footer {

    background: linear-gradient(to bottom, gray, lightgray);
    height: 300px;
    margin-top: 10px;
    padding-top: 30px;
    width: 100%;
   
}